doctype html
html
  head
    title Exchange
    link(href='/bin/css/bootstrap.min.css', rel='stylesheet')
    script(src='/bin/js/jquery-2.1.4.min.js')
    script(src='/bin/js/bootstrap.min.js')

    link(href='/bin/css/index.css' rel='stylesheet')

  body
      #cjs-wrapper
        nav.navbar.navbar-default.background-self
          .container-fluid
              // Brand and toggle get grouped for better mobile display
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                  span.sr-only Toggle navigation
                  |         
                  span.icon-bar
                  |         
                  span.icon-bar
                  |         
                  span.icon-bar
                |       
                a.navbar-brand(href='/') Exchange

                form.navbar-form.navbar-left(role='search')
                  .form-group
                    input.form-control(type='text', placeholder='Search')
                  |         
                  button.btn.btn-default(type="button") 搜索
              // Collect the nav links, forms, and other content for toggling
              #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                  li.active
                    a(href='#')
                      | 最新 
                      span.sr-only (current)
                  |         
                  li
                    a(href='#') 最热门    

                if user 
                 ul.nav.navbar-nav.navbar-right
                    li
                      a(href='/') 首页
                    |         
                    li
                      a(href='/user/'+user.idCard) 我的主页
                    li
                      button.btn.btn-default.navbar-btn(id="log-out") 退出

                else 
                  ul.nav.navbar-nav.navbar-right
                   li
                      a(href='/log') 登陆
                   |         
                   li
                      a(href='/signup') 注册

        div.center-block
          if wishes
            div(style="margin:50px")
              div.wrapper-self
                - for (var i=0; i< wishes.length; i=j)
                  div.cjs-row
                    - for (var j = i; j < wishes.length && j < i+3; j++)
                      div.cjs-cell
                        if user
                          a.ui.card(href='/wish/' + wishes[j]._id)
                            .content
                              .header=wishes[j].title
                              .meta
                                span.category='Expiry date: '
                                p.category=moment(wishes[j].ddl).format('MMM D,YY')
                              .description
                                p='Descriptions : '+wishes[j].desc
                            .extra.content
                              .right.floated.author
                                img.ui.avatar.image(src='/src/img/avatar.jpg')
                                |  Click
                        else
                          .ui.card
                            .content
                              .header=wishes[j].title
                              .meta
                                span.category='Expiry date:'
                                p.category=moment(wishes[j].ddl).format('MMM D,YY')
                              .description
                                p='Descriptions : '+wishes[j].desc
                            .extra.content
                              .right.floated.author
                                img.ui.avatar.image(src='/src/img/avatar.jpg')
                                |  Hi~
    script(src='./bin/js/index.js')
