doctype html
html
    head
        title invitation
        
        link(href='/bin/css/invitation.css' rel='stylesheet')
        link(href='.././lib/bootstrap/css/bootstrap.css' rel='stylesheet')
        link(href=".././lib/icheck/skins/flat/blue.css" rel="stylesheet")
        script(src='.././lib/jquery.js')
        script(src='.././lib/bootstrap/js/bootstrap.js')
        script(src='.././lib/bootstrap/js/bootstrap-wysiwyg.js')
        script(src='./lib/icheck/icheck.js')
    body
        #mainbox
          #daohang
            nav.navbar.nav-background.navbar-default
              div.container-fluid
                  div.userInfo.navbar-header.navbar-left
                      a.navbar-brand(href='/') Exchange
      
                  ul.nav.navbar-nav.navbar-right
                      li
                          a.col-md-4.btn.btn-link(href='/') 首页
                      li
                          a.col-md-4.btn.btn-link(href='/usr/') 个人页面
                      li
                          a.col-md-4.btn.btn-link(href='/') 退出
          #invitation
              div.panel.panel-info
                div.panel-heading invitation
                div.panel-footer
                  div.caption
                    h4 亲爱的#{invite.uid}
                    p 
                    |我想帮你实现  
                    a(href="#") #{invite.wid} 
                    |的愿望，愿望交换~你快来选择我的一个愿望来实现吧~
                  div.from
                    p
                    |from:
                    a(href="#") #{invite.uid}
                
                #choose-wishes
                  div.panel.panel-primary
                    div.panel-heading invite
                    div.panel-footer
                     
                      p 备注:#{invite.remark}
                      p 愿望：
                       input#remark
                      button.agree(id="agree" type="button" class="btn btn-success" wid=invite.wid iid=invite._id) 接受
                      button.disagree(id="disagree" type="button" class="btn btn-danger" wid=invite.wid iid=invite._id) 拒绝
        script(src='/bin/js/invitation.js')

                        
                        

