doctype html
html
    head
        title invite
        link(href='../bin/css/invite.css' rel='stylesheet')
        link(href='../lib/bootstrap/css/bootstrap.css' rel='stylesheet')
        link(href='../lib/line-control/editor.css' rel='stylesheet')
        script(src='../lib/jquery.js')
        script(src='../lib/bootstrap/js/bootstrap.js')
    body
        #mainbox
          #daohang
            nav.navbar.nav-background.navbar-default
              div.container-fluid
                  div.userInfo.navbar-header.navbar-left
                      a.navbar-brand(href='/') Exchange
      
                  ul.nav.navbar-nav.navbar-right
                      li
                          a.col-md-4.btn.btn-link(href='/') 首页
                      li
                          a.col-md-4.btn.btn-link(href='/usr/') 个人页面
                      li
                          a.col-md-4.btn.btn-link(href='/') 退出
          #exchange
              div.panel.panel-info
                div.panel-heading Wish Exchange
                div.panel-footer
                  div.row
                    div.col-xs-4.col-md-4
                      div.thumbnail
                        img(src="../src/img/shichen.jpg" alt="me")
                        div.caption
                          h3 #{user._id}
                          //- p there are sometin4 about me such as Signature, Personal Information and so on
                    div.col-xs-4.col-md-4
                      img#ex(src="../src/img/exchange.png" alt="exchange")
                    div.col-xs-4.col-md-4.others
                      div.thumbnail
                        img(src="../src/img/daofeng.png" alt="...")
                        div.caption
                          h3 #{wish.uid}
                          //- p there are someting about others such as Signature, Personal Information and so on
                #invite
                  div.panel.panel-primary
                    div.panel-heading invite
                    div.panel-footer
                      div.caption
                        h4 亲爱的
                          a(href="#") #{wish.uid}
                        p 
                        |我想帮你实现  
                        a(href='/wish/' + wish.uid) #{wish.title}  
                        |的愿望，愿望交换~你快来选择我的一个愿望来实现吧~
                      p 备注:
                        input#remark
                      button.send(id="send-button" type="button" class="btn btn-success" wish-id=wish._id) 发送
        script(src='../bin/js/invite.js')
