doctype html
html
  head
    title register
    script(src='.././lib/jquery.js')
    script(src='.././lib/bootstrap/js/bootstrap.min.js')
    link(href='.././lib/bootstrap/css/bootstrap.min.css' rel='stylesheet')
    link(href='.././bin/css/usr.css' rel='stylesheet')

  body
    #modify.wrapper
      nav.navbar.navbar-default.background-self
        .container-fluid
            // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.sr-only Toggle navigation
              |         
              span.icon-bar
              |         
              span.icon-bar
              |         
              span.icon-bar
            |       
            a.navbar-brand(href='/') Exchange

          #bs-example-navbar-collapse-1.collapse.navbar-collapse

            ul.nav.navbar-nav.navbar-right
              li
                a(href='/') 首页
              li
                a(href='/user/' + user.idCard) 我的主页
              li
                button.btn.btn-default.navbar-btn(id="log-out") 退出         

            ul.nav.navbar-nav
              li.active
                a(href='#')
                  |  个人资料
                  span.sr-only (current)
              li
                a(href='/list/' + usr._id) 联系人列表
              li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                  | 我的邀请
                  span.caret
                ul.dropdown-menu(role='menu')
                  if invites
                    each invite in invites
                      li
                        a(href='/invitation/' + invite._id)=invite.remark

      .info-card
        i.icon-pencil-squared.modify-btn
        |         
        .info-wrapper
          .avatar-round
            input#avatarupload(type='file', name='', disabled)
            |             
            .card-avatar
          //- 此处判断用户是否自己，如果是自己则按钮为修改资料，否则按钮改为关注或私信他人
          .info-detail
            if user.idCard == usr.idCard
              form
                input#nickname(type='text', value='#{usr.name}', disabled='true')
                input#mood(type='text', placeholder='#{usr.email}', disabled)
                input#idcard(type='hidden', name='idcard', value='#{usr.idCard}')
                input#uid(type='hidden', name='uid', value='#{usr._id}')
                div.lyj
                  a(href='/create').cjs-1.btn.btn-primary.login-button.auth po心愿
                  button#change.cjs-2.btn.btn-default.login-button.auth 改资料
            else  
              form
                input#nickname(type='text', value='#{usr.name}', disabled='true')
                input#mood(type='text', placeholder='#{usr.email}', disabled)
                input#idcard(type='hidden', name='idcard', value='#{usr.idCard}')
                input#uid(type='hidden', name='uid', value='#{usr._id}')
                div.lyj
                  if isFan
                    button#unfo.cjs-1.btn.btn-danger.login-button.auth(type='button') 取关
                  else
                    button#tofo.cjs-1.btn.btn-primary.login-button.auth(type='button') 关注
                  button#chat.cjs-2.btn.btn-default.login-button.auth(type='button') 私信

            //- .invitation
            //-     if invites
            //-         p invitations:
            //-         each invite in invites
            //-             a(href='/invitation/' + invite._id)=invite.remark
            //-             br
    script(src='.././bin/js/usr.js')
