doctype html
html
    head
        title Wish
        link(href='../lib/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        script(src='../lib/bootstrap/js/bootstrap.min.js')
        script(src='../lib/jquery.js')
        link(href='../bin/css/wish.css' rel='stylesheet')
        script(src='../bin/js/wish.js')

    body
    
        nav.navbar.nav-background.navbar-default
            div.container-fluid
                div.userInfo.navbar-header.navbar-left
                    a.navbar-brand(href='/') Exchange
    
                ul.nav.navbar-nav.navbar-right
                    li
                        a.col-md-4.btn.btn-link(href='/') 首页
                    li
                        a.col-md-4.btn.btn-link(href='/usr/') 个人页面
                    li
                        a.col-md-4.btn.btn-link(href='/') 退出

        div.container.well.well-lg.czy-container

            p.title
              a(href='/usr/' + 'wish.uid') {wish.uid}
              span 的心愿

            - var isAuthor = wish.uid == user.ObjectID

            if isAuthor
                form.wishInfo.center(method="POST" role="form")
                    div.form-group
                        label(for="title") 主题
                        input.form-control(type='text' id='title' placeholder='Title' defaultValue=wish.title) 
                    div.form-group
                        label(for="stt") 开始时间
                        input.form-control(type='date' id='stt' placeholder='Start time' defaultValue=wish.stt) 
                    div.form-group
                        label(for="ddl") 结束时间
                        input.form-control(type='date' id='ddl' placeholder='Finish time' defaultValue=wish.ddl) 
                    div.form-group
                        label(for="loc")地点
                        input.form-control(type='text' id='loc' placeholder='Location' defaultValue=wish.loc)
                    div.form-group
                        label(for="desc") 描述
                        textarea.form-control(type='text' id='desc' placeholder='Description' rows="3" defaultValue=wish.desc)
                    
                    div.operator
                        button.btn.btn-success(type="submit") 编辑
                        button.btn.btn-success(type="submit") 删除

            else
                form.wishInfo.center(method="POST" role="form")
                    div.form-group
                        label(for="title") 主题
                        input.form-control(type='text' id='title' placeholder='Title' readonly defaultValue=wish.title) 
                    div.form-group
                        label(for="stt") 开始时间
                        input.form-control(type='date' id='stt' placeholder='Start time' readonly defaultValue=wish.stt) 
                    div.form-group
                        label(for="ddl") 结束时间
                        input.form-control(type='date' id='ddl' placeholder='Finish time' readonly defaultValue=wish.ddl) 
                    div.form-group
                        label(for="loc")地点
                        input.form-control(type='text' id='loc' placeholder='Location' readonly defaultValue=wish.loc)
                    div.form-group
                        label(for="desc") 描述
                        textarea.form-control(type='text' id='desc' placeholder='Description' rows="3" readonly defaultValue=wish.desc)
                    
                    div.operator
                        button.btn.btn-success(type="none") 点赞
                        button.btn.btn-success(type="none") 私信
